vim/.vim/bundle/
vim/.vim/colors/solarized.vim
vim/.vim/ftdetect/
vim/.vim/plugin/
vim/.vim/swap/
vim/.vim/syntax/
Old
awesome/*
mpd/.config/mpd/state
mpd/.config/mpd/log
mpd/.config/mpd/pid
vimb/.config/vimb/closed
vimb/.config/vimb/cookies.db
vimb/.config/vimb/history
ranger/.config/ranger/bookmarks
ranger/.config/ranger/history
mail/.mutt/aliases
mail/.mutt/ca.crt
mail/.mutt/gpg
mail/.canned/
mail/.msmtprc
mail/.mutt/colors/solarized
mail/.mutt/colors/zenburn.raph.bak
mail/.mutt/cnam-lists
mail/.mutt/savehooks
mail/.mutt/temp/
mail/.mutt/muttprintlogo.eps
mail/.mutt/muttprintlogo.png
rofi/.config/rofi/config.bac
mpd/.config/mpd/playlists/
ranger/.config/ranger/plugins/
