#include "/home/raph/.config/Xresources/Xdefaults"
#include "/home/raph/.config/Xresources/Xdefaults.colors.zenburn"
!#include "/home/raph/.config/Xresources/Xdefaults.colors.papercolor"
!#include "/home/raph/Code/Configs/Xresources-themes/iterm-Piatto_Light.Xresources"
!#include "/home/raph/Code/Configs/Xresources-themes/iterm-Solarized_Light.Xresources"
!#include "/home/raph/Code/Configs/Xresources-themes/iterm-Violet_Light.Xresources"
!#include "/home/raph/.config/Xresources/Xdefaults.colors.solarized-light"
#include "/home/raph/.config/Xresources/Xdefaults.colors.rootterm"
#include "/home/raph/.config/Xresources/Xdefaults.colors.scratchpad"
#include "/home/raph/.config/Xresources/Xdefaults.colors.todotxtmachine"
#include "/home/raph/.config/Xresources/Xdefaults.xscreensaver"
